<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/591c2421c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/add_empleado.css">
    <title>Document</title>
</head>
<body>
    <div class="barra-superior">
        <div class="row">
            <div class="col-6">
                <h2>EMASA MINERALES S.A.C.</h2>
            </div>
            <div class="col-6">
                <a href="/" class="btn btn-success salir">Salir</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Nuevo Factura</h1>
        <form action="/add_factura" method="POST">
            <label for="" class="form-label">ID Factura</label>
            <input class="form-control" type="text" name="id" id="" placeholder="Ingrese ID Factura. Ejem. FACT00001">
            <label class="form-label" for="">Numero Factura</label>
            <input class="form-control" type="text" name="nf" placeholder="Ingrese Num Factura. Ejem. 001-09394">
            <label class="form-label" for="">Fecha</label>
            <input class="form-control" type="date" name="ff" id="">
            <label class="form-label" for="">Monto Facturado</label>
            <input class="form-control" type="text" name="mf" id="" placeholder="Ingrese Monto facturado.  Ejem. 4000 soles">
            <label class="form-label" for="">Empleado</label>
            <select class="form-select" name="ide" id="">
                <option value="-1">Seleccione Empleado</option>
                <% empleados.forEach((e) => { %>
                    <option value="<%= e.id %>"><%= e.nombres %></option>
                <% }) %>
            </select>
            <label class="form-label" for="">Cliente</label>
            <select class="form-select" name="idc" id="">
                <option value="-1">Seleccione Cliente</option>
                <% clientes.forEach((c) => { %>
                    <option value="<%= c.id %>"><%= c.rs %></option>
                <% }) %>
            </select>
            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <button type="submit" class="btn btn-success item-button"><i class="fas fa-paste"></i> Agregar Factura</button>
                </div>
                <div class="col-6">
                    <a href="/facturas" class="btn btn-secondary item-button"><i class="fas fa-window-close"></i> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</html>