<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/agrega" method="POST">
        <label for="">id</label>
        <input type="text" name="id">
        <label for="">ruc</label>
        <input type="text" name="ruc">
        <label for="">rs</label>
        <input type="text" name="rs">
        <label for="">telef</label>
        <input type="text" name="telef">
        <label for="">direc</label>
        <input type="text" name="direc">
        <label for="">email</label>
        <input type="text" name="email">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>