<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/591c2421c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="barra-superior">
        <a href="/" class="btn btn-success salir">Salir</a>
    </div>
    <div class="barra-back">
        <a href="/main" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i></a>
    </div>
    <div class="container">
        <h1 class="titulo">MASA MINERALES S.A.C</h1>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <a href="/reporte1" class="btn btn-success item">MONTO FACTURADO EN UN DETERMINADO INTERVALO DE TIEMPO</a>
                        <a href="/reporte2" class="btn btn-success item">FACTURAS POR CLIENTE EN UN PERIODO DE TIEMPO</a>
                        <a href="/reporte3" class="btn btn-success item">MONTO FACTURADO POR CLIENTE EN UN PERIODO DE TIEMPO</a>
                        <a href="#" class="btn btn-success item">Otros</a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</html>