.barra-superior{
    background-color: black;
    width: 100%;
    text-align: right;
}
.salir{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botones{
    width: 100%;
}
.contBotones{
    margin: 0;
    padding: 0;
}
.container h1{
    text-align: center;
}

.bSearch{
    width: 100%;
}

.barra-back{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

h2{
    color: white;
    text-align: left;
    margin-left: 10px;
}