body{
    background-color: #ccc;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: white;
    padding: 10px;
    width: 300px;
    margin-top: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);    

}

.ingresar{
    width: 100%;
}